h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}