h1 {
    color: #cc7639;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
.column {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
body {
    background-color: #e2f5d4;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}
h3 {
    color:#cc7639;
}